.sidebarStyle {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 12px;
    background-color: #12556B;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    border-radius: 10px;
}
     
.mapContainer {
    position:fixed;
    width: 400px;
    height: 700px;
}

.mapContainer2 {
    position:fixed;
    width: 100%;
    height: 100%;
}

.alert-shown {
    display: block;
}

.alert-hidden {
    display: none;
}

.marker-roi {
    background-image: url('../images/crown.png');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    cursor: pointer;
}
.marker-evenement {
    background-image: url('../images/shout.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    cursor: pointer;
}
.marker-personnage {
    background-image: url('../images/cape.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}